.navbar {
    background-color: #002060
}

.card-title {
    border-bottom: 1px solid lightgray;
}

.task-section {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
}

.footer {
    background-color: #002060;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-text {
    white-space: nowrap;
}

.footer-link {
    color: white;
}