:root {
    --primary-color: #002060;
    --hover-color: lightblue;
    --primary-text: white;
}

:root header{
    background-color: var(--primary-color);
}

:root main {
    padding: 1% 2%;
    flex: 1;
}

:root footer {
    background-color: var(--primary-color);
    position: relative;
    bottom: 0;
    white-space: nowrap;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar .nav-link {
    color: var(--primary-text);
}

.card-header {
    border-bottom: 1px solid lightgray;
}

.footer-text {
    color: white;
}

.footer-link {
    color: white;
}

.footer-link:hover {
    color: var(--hover-color);
}

.fa-symbols:hover {
    color: var(--hover-color);
}